@import url('https://fonts.googleapis.com/css2?family=Satisfy&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  box-sizing: border-box;
}

* {
  box-sizing: inherit;
  margin: 0;
}

.app-header {
  font-family: "Satisfy", cursive;
  font-style: normal;
}


